<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>
<% if @article.image.exists? %>
<p><%= image_tag @article.image.url %></p>
<% end %>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<h3><%= pluralize(@article.comments.count, "Comment")%>: </h3>

<%= render partial: "articles/comment", collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "Back to all articles", articles_path %> |
<%= link_to "Edit Article", edit_article_path(@article) %> |

<%= link_to "Delete Article", article_path(@article), method: :delete,
                  data: { confirm: "Do you want to delete this article?" } %>
