<!DOCTYPE html>
<html>
<head>
  <title>RailsProjectBlogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li>Home</li>
      <li>Tags</li>
      <li>Random Article</li>
      <li>Popular Articles</li>
    </ul>
  </nav>
  <p class="flash"><%= flash.notice %></p>

<%= yield %>
<hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
</body>
</html>
